@import '~variables.scss';

.tf-icon {
  height: 30px;
  margin-left: 10px;
}

.betta-icon {
  color: white;
  font-family: serif;
}

.toolbar-icon {
  padding: 0 14px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.login-button {
  cursor: pointer;
}

.mat-toolbar {
  width: 100%;
  height: $toolbar-height;
  padding-right: 0;
  user-select: none;
  //background: rgba(255, 255, 255, 0.75);
  background: transparent;
  color: black;

  a {
    text-decoration: none;

    * {
      vertical-align: middle;
    }

  }
}



mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

@include breakpoint(mobile) {
  .mat-toolbar {
    height: $toolbar-height-mobile !important;
  }


  button {
    height: $toolbar-height-mobile !important;
  }

}
