<footer fxLayout fxLayoutAlign="space-between center ">
    <div class="legal" fxLayout>
      <span>
        <a routerLink="/terms" routerLinkActive="active">Términos de uso</a>
      </span>
      <span>|</span>
      <span>
        <a routerLink="/privacy" routerLinkActive="active">Política de privacidad</a>
      </span>
    </div>

    <div class="contact" fxLayout>
      <span class="mail" fxLayout fxLayoutAlign="center center">
        <a href="mailto:contact@topicfriends.org">
          contact@topicfriends.org
        </a>
      </span>
      <span class="icons" fxLayout>
        <a class="facebook" href="https://www.facebook.com/TopicFriends/" fxLayout fxLayoutAlign="center center">
          <i class="fa fa-facebook"></i>
        </a>
        <a class="medium" href="https://medium.com/@topicfriends" fxLayout fxLayoutAlign="center center">
          <i class="fa fa-medium"></i>
        </a>
      </span>
    </div>

</footer>

