@import '~variables.scss';

$facebook-color:#3b5998;
$medium-color:#1c9963;


footer{
  background-color: rgba(0,0,0, 1);
  color: #ffff;
  font-size: .9em;
  height: $footer-height;
  padding: 0;
  margin:0;
  box-shadow:  0 -6px 10px 0 rgba(0,0,0,.14);

  @include breakpoint(mobile) {
    height: calc(5*#{$footer-height});
    flex-direction: column !important;
    justify-content: center !important;
  }

}

.legal{

  a, span{
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
  }
}

.contact{
  @include breakpoint(mobile) {
    flex-direction: column !important;
  }

  .icons {
    align-self: center;
  }

  .mail{
    padding: 15px;
  }

  .facebook{
    background-color: $facebook-color;
    width: $footer-height;
    height: $footer-height;
    &:hover {
      background-color: lighten($facebook-color, 20%);
    }
  }

  .medium{
    background-color: $medium-color;
    width: $footer-height;
    height: $footer-height;
    &:hover {
      background-color: lighten($medium-color, 20%);
    }
  }

  a{
    color: #ffffff;
    text-decoration: none;
  }

}





